backup
coreip
dm
physical_plus
synlog
syntmp
synwork
*.err
*.bl0
*.cif
*.ed_
*.edi
*.eq0
*.naf
*.prj
*.srf
*.srm
*.srr
*.srs
*.sym
*.vht
*.exf
*.fse
*.htm
*.lc_
*.csv
*.html
*.ini
*.b2_
*.bl2
*.bl3
*.bl4
*.bl5
*.cmi
*.crf
*.d0
*.data
*.eq2
*.eq3
*.fti
*.imp
*.ipr
*.isc
*.jed
*.jid
*.l0
*.lco
*.lct
*.mod
*.nrp
*.ppn
*.recordref
*.rev
*.rpt
*.sdf
*.sif
*.stamp
*.STY
*.svl
*.tcl
*.tda
*.tlg
*.trp
*.tt4
*.vho
*.xrf
*.rs2
*.dum
*.txt
*.prs
*.env
*.bl1
